.profile__edit-button {
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    background-color: #2A2C2F;
    padding: 0;
    cursor: pointer;
    align-self: center;
    background-image: url(../../../images/Edit\ Button.svg);
    background-repeat: no-repeat;
    background-position: center;
}