.popup__save {
    min-height: 50px;
    border-radius: 2px;
    background: #000000;
    transition: opacity ease-in;
    cursor: pointer;
    border: none;
    background-image: url(../../../images/SubmitButton.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin-top: 24px;
}

.popup__save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 580px) {
    .popup__save {
        margin-top: 18px;
        background-image: url(../../../images/SubmitButtonPopUp.svg);
    }
}