.popup__form {
    margin: 40px 36px 37px;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.popup__form:invalid {
    border-bottom: 1px solid #FF0000;
}

@media screen and (max-width: 580px) {
    .popup__form {
        margin: 65px 21px 25px;
    }
}