.error-text {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 42%;
    left: 8%;
    row-gap: 45px;
}

@media screen and (max-width: 580px) {
    .error-text {
        top: 47%;
    }
}