.profile__add-button {
    height: 50px;
    width: 150px;
    padding: 0;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    align-self: center;
    cursor: pointer;
    background-image: url(../../../images/Plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity ease-in;
    margin-left: auto;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 794px) {
    .profile__add-button {
        margin: 36px 19px 0;
        width: 50%;
    }
}

@media screen and (max-width: 568px) {
    .profile__add-button {
        width: 100%;
    }
}