.popup__close {
    position: absolute;
    right: -53px;
    left: 440px;
    bottom: 82%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity ease-in;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 568px) {
    .popup__close {
        left: 55%;
    }
}