.popup__close {
    position: absolute;
    right: -45px;
    top: -40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity ease-in;
    padding: 0;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 350px) {
    .popup__close {
        right: 0px;
    }
}