.element__trash {
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 18px;
    top: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity ease-in;
    padding: 0;
    width: 18px;
    height: 19px;
}


.element__trash:hover {
    opacity: 0.6;
}