.popup__group {
    min-width: 433px;
    max-height: 562px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    transform: translateX(-50%);
    left: 50%;
}

@media screen and (max-width: 568px) {
    .popup__group {
        min-width: 240px;
        position: absolute;
        top: 50%;
        left: 13%;
        transform: translate(0, -50%);
    }
}